*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
font-family: 'Times New Roman', Times, serif;


}
.container{
  width: 1200px;
  
  margin: 0px auto;
}

.header{
  background-color: rgba(4, 15, 40, 1);
}
.header-div li{
  display: inline-block;
  
}
.li1{
  color: rgba(196, 196, 196, 1);
}
.li2{
  color: #C4C4C4;
  margin-left: 350px;
}

.li3{
  color:  rgba(196, 196, 196, 1);
  border-radius: 5px;
  padding: 16px 32px;
  margin-left: 82px;
  background-color: brown;
}
.li4{
  color: #646464;
  margin-left: 50px;
}
.section{
  display: flex;
  justify-content: flex-start;
  
}
.akhi{
  display: flex;
  flex-direction: row;
}

.button{
background-color: rgb(186, 30, 30);

padding: 16px 40px;
border-radius: 30px;
}
.button a{
  color: #C4C4C4;
}
.hy{
  align-items: center;
  align-items: flex-end;
display: inline-block;
  width: 500px;
  padding-top: 160px;



}
.hy h1{
  color: #C4C4C4;
  align-items: center;
  font-size: 56px;
}
.hy p{
  color: #646464;
  font-size: 16px;

}


.img{
  display: inline-block;
  padding-top: 78px;
  margin-left: 128px;
}
.main-div{
  display: flex;
  justify-content: center;
  gap: 251px;
  margin-top: 150px;
  font-size: 18px;
  margin-bottom: 150px;
}
.div1 h1{
  font-size: 64px;
  

}
.div2 h1{
  font-size: 64px;


}.div3 h1{
  font-size: 64px;
  

}
.get{
  display: flex;
  padding-top: 150px;
  padding-bottom: 56px;

}
.you h2{
color: #C4C4C4;
font-size: 16px;
}
.you h1{
color: rgba(255, 255, 255, 1);
font-size: 40px;
}
.while p{
  color: #C4C4C4;
  margin-left: 328px;
  font-size: 16px;
}
.while
{
  padding-top: 75px;
  padding-bottom: 56px;
}
.img1{
  color: rgba(255, 255, 255, 1);
}
.img2{
  color: rgba(255, 255, 255, 1);
}
.img3{
  color: rgba(255, 255, 255, 1);
}
.quality{
  display: flex;
  gap: 110px;
  
}
.meet{
  color: rgba(255, 255, 255, 1);
 padding-top: 118px;
 padding-bottom: 72px;
 
}
.meet h1{
  font-size: 36px;
  margin-left: 350px;

}
.meet h2{
font-size: 24px;
margin-left: 265px;
}
.design{
  display:flex;
flex-wrap: wrap;
  justify-content: center;
padding-bottom: 115px;
  
  gap: 40px 40px;
  
}
.design div button{
  background-color: rgba(252, 56, 103, 1);
  padding: 10px 10px;
  border-radius: 35px;
}
.design div{
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  width: 450px;
  border-radius: 10px;
  
}
.my h1{
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  margin-left: 350px;

}
.my p{
  color: #C4C4C4;
  margin-left: 350px;

}
.my{
  padding-bottom: 56px;
}
.imguns{
  display: flex;
  gap: 20px;
  padding-bottom: 110px;
}
.our{
  padding-bottom: 71px;
}
.our p{
  color: rgba(255, 255, 255, 1);
  margin-left: 550px;
  font-size: 16px;
  
}
.our h1{
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  margin-left: 350px;
}
.our h2{
  font-size: 40px;
  color:rgba(255, 255, 255, 1);
  margin-left: 500px;
}
.images3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-bottom: 171px;
  

}
.images3 div{
  background-color: rgba(255, 255, 255, 1);
padding: 40px 40px;
border-radius: 10px;
}
.button1{
  background-color: #C4C4C4;
  padding:16px 40px ;
  border-radius: 30px;
}
.shop{
  padding-top: 40px;
  padding-bottom: 40px;
}
.shop p{
  color: rgba(196, 196, 196, 1);
margin-left: 600px;
}
.shop h2{
  color: rgba(33, 34, 38, 1);
  font-size: 40px;
  margin-left: 350px;
  


}
.shop button{
  margin-left: 600px;
}
.footer{
  background-color: black;

}
.pen{
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
  padding-top: 57px;
  padding-bottom: 100px;
}
.pen div h2{
  color: rgba(255, 255, 255, 1);
}
.pen div p{
 color: #C4C4C4;
}
.our1 h3 {
  color: rgba(255, 255, 255, 1);

}
.ul{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

}

